* {
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Neue', cursive;
    font-family: 'Handlee', cursive;
}
  
.card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 1px 1px 3px 3px;
    
}
.card:hover{
    transform: scale(1.1);
}

.card-img-top {
    height: 10rem;

}
/*details*/
.img-detail {
    width: 100%;
}

.col-detail {
    border: solid 3px rgb(0, 0, 0);
   
}

.text-detail {
    border: solid 3px rgb(0, 0, 0);
    text-align: start;
    background-color: lightsalmon;
}

li {
    font-size: large;
}

h4 {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

/*form*/
.form{
    background-color: rgb(245, 225, 216);
    
}
.form-control{
   
    border: 3px solid rgb(239, 58, 94);
}

.main-home{
    background-color: rgb(245, 225, 216);
}
.main-upcoming{
    background-color: rgb(245, 225, 216);
}
.main-past{
    background-color: rgb(245, 225, 216);
}
.main-stats{
    background-color: rgb(245, 225, 216);
}
.main-detail{
    background-color: rgb(245, 225, 216);
}
/*pagination*/
.page-link{
    color:rgb(255, 71, 105);
    font-size: xx-large;
}
